<!-- Content Wrapper. Contains page content -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Create Category</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active">Create Category</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <form (ngSubmit)="createCategorySubmit()" [formGroup]="createCategoryForm">
    <div class="row">

      <div class="col-md-6">
        <div class="card card-primary">
          <div class="card-body">

            <div class="form-group">
              <label for="sliderTitle">Category Name</label>
              <input class="form-control" formControlName="name" id="sliderTitle" name="name" type="text">
              <div *ngIf="name?.invalid && name?.touched" class="text text-danger my-1">
                <div *ngIf="name?.errors?.required">name field is required</div>
              </div>
              <div class="text text-danger my-1">
                <div *ngIf="errors?.name && name?.pristine">{{errors?.name}}</div>
              </div>
            </div>
            <div class="form-group">
              <label for="sliderDescription">Category Description</label>
              <textarea class="form-control" formControlName="description" id="sliderDescription" name="description"
                        rows="4"></textarea>
              <div *ngIf="description?.invalid && description?.touched" class="text text-danger my-1">
                <div *ngIf="description?.errors?.required">name field is required</div>
              </div>
              <div class="text text-danger my-1">
                <div *ngIf="errors?.description && description?.pristine">{{errors?.description}}</div>
              </div>
            </div>
            <!-- /.form-group -->
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <div class="col-md-6">
        <div class="card" style="min-height: 15rem">
          <div class="card-body">
            <div class="form-group">
              <label for="customFile">Category Image</label>
              <div class="custom-file">
                <input (change)="onChooseImage($event)" class="custom-file-input" formControlName="image"
                       id="customFile" name="image" type="file">
                <label class="custom-file-label" for="customFile">Choose file</label>
              </div>
            </div>
            <div *ngIf="categoryImgSrc !== null" class="d-flex">
              <img [src]="categoryImgSrc" alt="Category image" style="max-width:10rem; max-height: 10rem">
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>

    </div>
    <div class="row ">
      <div class="col-12 d-flex justify-content-center">
        <a class="btn btn-secondary mx-3" routerLink="/categories">Back</a>
        <input [disabled]="createCategoryForm.invalid" class="btn btn-success" type="submit" value="Create">
      </div>
    </div>
  </form>
</section>
<!-- /.content -->

<!-- /.content-wrapper -->
