<!-- Content Wrapper. Contains page content -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Project Add</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Project Add</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <form (ngSubmit)="addProductSubmit()" [formGroup]="createProductForm">
    <div class="row">

      <div class="col-md-6">
        <div class="card card-primary">
          <div class="card-body">

            <div class="form-group">
              <label for="productName">Product Name</label>
              <input class="form-control" formControlName="name" id="productName" name="name" type="text">
              <div *ngIf="name?.invalid && name?.touched" class="text text-danger my-1">
                <div *ngIf="name?.errors?.required">name field is required</div>
              </div>
              <div class="text text-danger my-1">
                <div *ngIf="errors?.name && name?.pristine">{{errors?.name}}</div>
              </div>
            </div>
            <div class="form-group">
              <label for="productDescription">Product Description</label>
              <textarea class="form-control" formControlName="description" id="productDescription" name="description"
                        rows="4"></textarea>
              <div *ngIf="description?.invalid && description?.touched" class="text text-danger my-1">
                <div *ngIf="description?.errors?.required">name field is required</div>
              </div>
              <div class="text text-danger my-1">
                <div *ngIf="errors?.description && description?.pristine">{{errors?.description}}</div>
              </div>
            </div>
            <div *ngIf="dropdownList.length !== 0" class="form-group">
              <label>Categories</label>
              <ng-multiselect-dropdown
                (onSelect)="onItemSelect($event)"
                (onSelectAll)="onSelectAll($event)"
                [(ngModel)]="selectedItems"
                [data]="dropdownList"
                [ngModelOptions]="{standalone: true}"
                [placeholder]="'Select categories'"
                [settings]="dropdownSettings"
                required
              >
              </ng-multiselect-dropdown>
              <div class="text text-danger my-1">
                <div *ngIf="errors?.categories && selectedItems.length === 0">{{errors?.categories}}</div>
              </div>
              <!--                 <div class="text text-danger my-1">-->
              <!--                   <div *ngIf="createProductForm.errors?.categories && selectedItems.length === 0" >must select at least one.</div>-->
              <!--                 </div>-->
            </div>
            <!-- /.form-group -->
            <div class="form-group">
              <label for="productQuantity">Quantity</label>
              <input class="form-control" formControlName="quantity" id="productQuantity" name="quantity" type="number">
              <div *ngIf="quantity?.invalid && quantity?.touched" class="text text-danger my-1">
                <div *ngIf="quantity?.errors?.required">quantity field is required</div>
              </div>
              <div class="text text-danger my-1">
                <div *ngIf="errors?.quantity && quantity?.pristine">{{errors?.quantity}}</div>
              </div>
            </div>
            <div class="form-group">
              <label for="productPrice">Price</label>
              <input class="form-control" formControlName="price" id="productPrice" name="price" type="number">
              <div *ngIf="price?.invalid && price?.touched" class="text text-danger my-1">
                <div *ngIf="price?.errors?.required">price field is required</div>
              </div>
              <div class="text text-danger my-1">
                <div *ngIf="errors?.price && price?.pristine">{{errors?.price}}</div>
              </div>
            </div>

            <div class="form-group">
              <label for="productFeatured">Featured</label>
              <select class="custom-select" formControlName="featured" id="productFeatured" name="featured">
                <option disabled value="">Select a choice</option>
                <option [ngValue]="false" selected>NO</option>
                <option [ngValue]="true">YES</option>
              </select>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <div class="col-md-6">
        <div class="card" style="min-height: 15rem">
          <div class="card-body">
            <div class="form-group">
              <label for="customFile">Product Image</label>
              <div class="custom-file">
                <input (change)="onChooseImage($event)" class="custom-file-input" formControlName="image"
                       id="customFile" name="image" type="file">
                <label class="custom-file-label" for="customFile">Choose file</label>
              </div>
            </div>
            <div *ngIf="productImageSrc !== null" class="d-flex">
              <img [src]="productImageSrc" alt="Product image" style="max-width:10rem; max-height: 10rem">
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>

    </div>
    <div class="row ">
      <div class="col-12 d-flex justify-content-center">
        <a class="btn btn-secondary mx-3" routerLink="/products">Back</a>
        <input [disabled]="createProductForm.invalid" class="btn btn-success" type="submit" value="Create">
      </div>
    </div>
  </form>
</section>
<!-- /.content -->

<!-- /.content-wrapper -->
